.bg-page {
    background-color: #6EC5B8;
}

.bg-form {
    background-color: #10A98B;
}

.btn-submit {
    background-color: #F5454A;
}

.h-60px {
    height: 60px;
}

.bg-page2 {
    background-color: #383838;
}

.color-title {
    color: #006F82;
}

.bg-bluedark {
    background-color: #006F82;
}